src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="getaccount">
<part name="parameters" element="tns:getaccount"/>
</message>
<message name="getaccountResponse">
<part name="parameters" element="tns:getaccountResponse"/>
</message>
<message name="accountList">
<part name="parameters" element="tns:accountList"/>
</message>
<message name="accountListResponse">
<part name="parameters" element="tns:accountListResponse"/>
</message>
<message name="Conversion">
<part name="parameters" element="tns:Conversion"/>
</message>
<message name="ConversionResponse">
<part name="parameters" element="tns:ConversionResponse"/>
</message>
<portType name="BankService">
<operation name="getaccount">
<input wsam:Action="http://ws/BankService/getaccountRequest" message="tns:getaccount"/>
<output wsam:Action="http://ws/BankService/getaccountResponse" message="tns:getaccountResponse"/>
</operation>
<operation name="accountList">
<input wsam:Action="http://ws/BankService/accountListRequest" message="tns:accountList"/>
<output wsam:Action="http://ws/BankService/accountListResponse" message="tns:accountListResponse"/>
</operation>
<operation name="Conversion">
<input wsam:Action="http://ws/BankService/ConversionRequest" message="tns:Conversion"/>
<output wsam:Action="http://ws/BankService/ConversionResponse" message="tns:ConversionResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getaccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accountList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>